*{
    margin:0;
    padding: 0;
}
html,body {
    widows: 100%;
    height: 100%;
    overflow: hidden;

}
body{
    background: url(/assets/images/login_bg.jpg);
    background-size: cover;
}
.layui-main{
    margin-top:10px;
}
.loginAndRegi{
    width: 400px;
    height: 310px;
    background-color: #fff;
    position:absolute;
    left:50%;
    top:50%;
    transform: translate(-50%,-50%);

}
.title{
    height: 60px;
    background:url(/assets/images/login_title.png) no-repeat;
    background-position:center;
}
.regiBox {
  display: none;
}

.layui-form {
  padding: 0 30px;
}

#gotoRegi,
#gotoLogin {
  float: right;
}

.layui-icon {
  position: absolute;
  left: 10px;
  top: 10px;
}
.layui-input {
  padding-left: 30px;
}

.layui-form-item {
  position: relative;
}